<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/dbe5485e-be0f-4a47-aca7-3bf682e75fdc/resourceGroups/JorneThomasMore/providers/Microsoft.Web/sites/dcode-shop-back-api</ResourceId>
    <ResourceGroup>JorneThomasMore</ResourceGroup>
    <ApiResourceId>/subscriptions/dbe5485e-be0f-4a47-aca7-3bf682e75fdc/resourceGroups/JorneThomasMore/providers/Microsoft.ApiManagement/service/dcode-shop-backapi/apis/dcode-shop-back-api-manage</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dcode-shop-back-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>67bc4c2c-f099-4871-bc8e-4aa578dcada8</ProjectGuid>
    <MSDeployServiceURL>dcode-shop-back-api.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>dcode-shop-back-api</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$dcode-shop-back-api</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>